<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
                   <div class="col-lg-3 col-md-6">
                     <div class="hedingh3  text_align_left">
                        <h3>Newsletter</h3>
                        <form id="colof" class="form_subscri" method="post"  action="/newsletter">
                           <input class="newsl" placeholder="Enter Email" type="email" name="Email" required>
                           <input type="submit" value="Subscribe" class="btn btn-secondary">
                           
                        </form>
                        
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="hedingh3 text_align_left">
                        <h3> Explore</h3>
                        <ul class="menu_footer">
                           <li><a href="/home">Home</a></li>
                           <li><a href="/about">About</a></li>
                           <li><a href="/service">Service</a></li>
                      
                         
                           <li><a href="/contact">Contact us</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="hedingh3 text_align_left">
                        <h3>Latest News</h3>
                        <ul class="recent">
                           <li  ><img src="https://img.etimg.com/thumb/msid-98634999,width-300,height-225,imgsize-54282,,resizemode-75/new-delhi-vice-president-jagdeep-dhankar-along-with-minister-of-agriculture-narendra-singh-tomar-release-16-different-varieties-of-cereals-fruits-and-vegetables-during-the-61st-convocation-ceremony-of-icar-indian-agricultural-research-institute-in-new-delhi-on-friday-feb-24-2023-photoians/twitter.jpg" alt="#"/><a href="https://m.economictimes.com/news/economy/agriculture/too-early-to-say-about-impact-of-high-temperatures-on-wheat-crop-says-agriculture-minister/articleshow/98634980.cms" style="color:white" >Impact of high temperature on wheat</a>  </li>
                           <li><img src="https://t3.ftcdn.net/jpg/04/53/47/60/240_F_453476020_pxT7AIDdtJHxd92L3Yb0MlATqsNL2vM3.jpg" alt="#"/><a href="https://m.economictimes.com/news/economy/agriculture/centre-directs-nafed-nccf-to-buy-red-onion-from-farmers/articleshow/98484802.cms" style="color:aliceblue"  >Nafed, NCCF to buy onions from farmers</a> </li>
                        </ul>
                     </div>
                  </div>
                   <div class="col-lg-3 col-md-6">
                     <div class="hedingh3  flot_right text_align_left">
                        <h3>ContacT</h3>
                        <ul class="top_infomation">
                           <li><i class="fa fa-phone" aria-hidden="true"></i>
                              +918791009298
                           </li>
                           <li><i class="fa fa-envelope" aria-hidden="true"></i>
                              <a href="Javascript:void(0)">easyfarmup@gmail.com</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
       
      <div class="copyright">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-8">
                  <p>© 2022 All Rights Reserved.</p>
               </div>
               <div class="col-md-4">
                     <ul class="social_icon ">
                        <li><a href="https://www.facbook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/easyfarm-up/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                     </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>



