<%- include ('partials/header') %>

         <!-- end of header -->
         <div class="md-8">
            <div class="container-fluid fa-align-justify">
                <br>
                <br><br>
                <h1>Anil Bhati</h1>
                <ol>
                    <li>Name :<b>Anil Bhati</b> </li>
                    <li>Contact No: <b>8527968387</b> </li>
                    <li> Village :<b>Dadri</b> </li>
                    <li>Equipment :<b>Tractor,Tiller</b> </li>
                    <li>Charge :
                        <li> <b>Tiller - <i>Rs.150/Bigha</i></b> </li>
                        
                    </li>
                    <li>Rating: <b> <i>4.5/5</i></b></li>
                </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 sm-12">
                            <img src="/images/anilbhati1.jpg" alt="" srcset="">
                        </div>
                        <div class="col-md-6 sm-12">
                            <img src="/images/anilbhati2.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                
            
                
             </div>
         </div>

         <br>
         <br><br>
 

         <!-- start of footer -->
         <%- include ('partials/footer') %>