<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>EasyFarm</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../public/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../public/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../public/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/public/images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="../public/css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="../public/css/bootstrap-datepicker.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout inner_page about_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../public/images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div class="full_bg">
         <!-- header -->
         <header class="header-area">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3">
                     <div class="logo">
                        <a href="/home">Easy<span>Farm</span></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a href="/">Home</a></li>
                              <li><a class="active" href="/about">About</a></li>
                              <li><a href="/service">Service</a></li>
                               <li><a href="/projects">Projects</a></li>
                                <li><a href="/testimonial">Testimonail</a></li>
                              <li><a href="/review">Review</a></li>
                              <li><a href="/contact">Contact</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
                  <div class="col-md-2 padd_0 d_none">
                     <ul class="email text_align_right">
                        
                        <li><a href="/login">Login</a>
                        </li>
                        <li><a href="/register">Register</a> </li>
              
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header inner -->
      </div>
      <!-- end banner -->
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-lg-6 col-md-12">
                  <div class="titlepage text_align_left">
                     <span>About Us</span>
                     <h2>FARMING MADE EASY</h2>
                     <p> <i>Easy farm</i> - The website will act as a platform to facilitate renting of agriculture equipment and will involve both B2C and C2C models. In addition, it will provide information related to different agricultural  policies launched by the government to support farmers.</p>
                   <p>With the vision to build a unified platform that brought lenders & hirers together, We  engaged in building a web-based platform that served as a marketplace for dealers, contractors & end customers (farmers) to list and hire farming products for an array of needs.</p>
                   <br>
                   <p>The platform listed products across trucks, hedge cutters, fertilizer screening machines, tractor mowers and more.

                     For smooth customer experience & better engagement, many useful features were incorporated during agricultural machinery rental platform development. For example, with the smart search filters, hirers can easily select a product based on their preferred vendor and book the product on an hourly, daily, or weekly basis. Also, customers can easily track their orders & related information, while the lender can stay in the know of bookings.</p>
                     <h1> Here's a closer look at what more the tailored solution offers.</h1>
                     <span>Key Features</span>

                     <ol>
                        <li>Online account management & tracking</li>
                        <li>Geo-location for product availability</li>
                        <li>Set price & factors for multi-day & single-day rentals</li>
                        <li>Returns and cancellation management</li>
                        <li>Third-party seller review</li>
                        <li>Payment gateway for product details</li>
                     </ol>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="row d_flex">
                   <div class="col-md-7">
                     <div class="about_img">
                        <figure><img src="../public/images/Tractor1.jpg" alt="#"/>
                        </figure>
                     </div>
                   </div>
                   <div class="col-md-5">
                     <div class="about_img">
                        <figure><img src="../public/images/Threshor1.jpg" alt="#"/>
                        </figure>
                     </div>
                   </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                         <div class="col-lg-3 col-md-6">
                           <div class="hedingh3  text_align_left">
                              <h3>Newsletter</h3>
                              <form id="colof" class="form_subscri">
                                 <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                                 <button class="subsci_btn"><img src="images/new.png" alt="#"/></button>
                              </form>
                              
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                           <div class="hedingh3 text_align_left">
                              <h3> Explore</h3>
                              <ul class="menu_footer">
                                 <li><a href="/home">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/service">Service</a></li>
                            
                               
                                 <li><a href="/contact">Contact us</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                           <div class="hedingh3 text_align_left">
                              <h3>Recent Posts</h3>
                              <ul class="recent">
                                 <li><img src="images/resent.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                                 <li><img src="images/resent.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                              </ul>
                           </div>
                        </div>
                         <div class="col-lg-3 col-md-6">
                           <div class="hedingh3  flot_right text_align_left">
                              <h3>ContacT</h3>
                              <ul class="top_infomation">
                                 <li><i class="fa fa-phone" aria-hidden="true"></i>
                                    +918791009298
                                 </li>
                                 <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">easyfarmup@gmail.com</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
             
            <div class="copyright">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-8">
                        <p>© 2022 All Rights Reserved.</p>
                     </div>
                     <div class="col-md-4">
                           <ul class="social_icon ">
                              <li><a href="https://www.facbook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../public/js/jquery.min.js"></script>
      <script src="../public/js/bootstrap.bundle.min.js"></script>
      <script src="../public/js/jquery-3.0.0.min.js"></script>
      <script src="../public/js/owl.carousel.min.js"></script>
      <script src="../public/js/bootstrap-datepicker.min.js"></script>
      <script src="../public/js/custom.js"></script>
   </body>
</html>