<%- include ('partials/header') %>
         <!-- end header inner -->
         <!-- top -->
         
            <!-- carousel code -->
             <div id="banner1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
                              
                              <div class="carousel-inner" >
                                 <div class="carousel-item active ">
                                   <img src="images/Farmer1.jpg" alt="First" class="d-block w-100">
                                   
                     
                                 </div>

                              </div>
                              
                              <!-- /.carousel-inner -->
                             
                           </div>
                           <br>
                           <br>
                           <br>
                           <br>
                           <div class="container-fluid">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="willom ">
                                      <h1> Farming Made Easy</h1>
                                    </div>
                                 </div>
                              </div>
                           </div>
         </div>
      </div>
      <!-- end banner -->
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-lg-6 col-md-12">
                  <div class="titlepage text_align_left">
                     <span>About Us</span>
                     <h2>AGRICULTURE MARKET</h2>
                     <p>The website will act as a platform to facilitate renting of agriculture equipment and will involve both B2C and C2C models. In addition, it will provide information related to different agricultural  policies launched by the government to support farmers.</p>
                     <p>वेबसाइट कृषि उपकरणों को किराए पर लेने की सुविधा के लिए एक मंच के रूप में कार्य करेगी और इसमें बी2सी और सी2सी दोनों मॉडल शामिल होंगे। इसके अलावा, यह किसानों को समर्थन देने के लिए सरकार द्वारा शुरू की गई विभिन्न कृषि नीतियों से संबंधित जानकारी प्रदान करेगा।</p>
                     <a class="read_more" href="/about">Learn More</a>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="row d_flex">
                   <div class="col-md-7">
                     <div class="about_img">
                        <figure><img src="images/About1.jpg" alt="#"/>
                        </figure>
                     </div>
                   </div>
                   <div class="col-md-5">
                     <div class="about_img">
                        <figure><img src="images/About2.jpg" alt="#"/>
                        </figure>
                     </div>
                   </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- services -->
      <div class="services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_left">
                     <span>What We Do</span>
                         <h2>SERVICES WE OFFER</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/1service.jpg" alt="#"/></figure>
                        <div class="veget">
                           <h3>TRACTOR <br>RENTAL</h3>
                          
                        </div>
                     </div>

                  </div>
               </div>
               <div class="col-md-3">
               <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/2service.png" alt="#"/></figure>
                        <div class="veget">
                           <h3>HARVESTOR <br>RENTAL</h3>
                          
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col-md-3">
                <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/3service.png" alt="#"/></figure>
                        <div class="veget">
                           <h3>CULTIVATOR<br>RENTAL</h3>
                          
                        </div>
                     </div>
                     
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="services_box_main">
                        <div  class="services_box text_align_left">
                             <figure><img src="images/4service.jpg" alt="#"/></figure>
                           <div class="veget">
                              <h3>ROTAVATOR<br>RENTAL</h3>
                             
                           </div>
                        </div>
                        
                     </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                     <div class="services_box_main">
                           <div  class="services_box text_align_left">
                                <figure><img src="images/7service.jpg" alt="#"/></figure>
                              <div class="veget">
                                 <h3>RIPPER<br>RENTAL</h3>
                                
                              </div>
                           </div>
                           
                        </div>
                     </div>
                   
      
                   <div class="col-md-3">
                     <div class="services_box_main">
                           <div  class="services_box text_align_left">
                                <figure><img src="images/8service.jpg" alt="#"/></figure>
                              <div class="veget">
                                 <h3>CIRCULAR <br>RENTAL</h3>
                                
                              </div>
                           </div>
                           
                        </div>
                     </div>
                   
      
                   <div class="col-md-3">
                     <div class="services_box_main">
                           <div  class="services_box text_align_left">
                                <figure><img src="images/9service.jpg" alt="#"/></figure>
                              <div class="veget">
                                 <h3>THRESHOR MACHING<br>RENTAL</h3>
                                
                              </div>
                           </div>
                           
                        </div>
                     </div>
                     </div>
                   </div>


                </div>
         </div>

        
      </div>
      <!-- end services -->

    <!-- start review service -->
    <section>
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h2 class="mb-4"><b>Customer's Review</b> </h2>
          <p class="mb-4 pb-2 mb-md-5 pb-md-0">
         
          </p>
        </div>
      </div>
    
      <div class="container">
      <div class="row text-center d-flex  justify-content-center">
        <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
          <div class="card testimonial-card">
            <div class="card-up" style="background-color: #9d789b;"></div>
            <div class="avatar mx-auto bg-white">
              <img src="images/review1.jpg" 
                class="rounded-circle img-fluid" height="400px" width="250px" />
            </div>
            <div class="card-body">
              <h4 class="mb-4">Rameshwar Bhati</h4>
              <hr />
              <p class="dark-grey-text mt-4">
                <i class="fas fa-quote-left pe-2"></i>Easy way to get equipment on rent.I'm very happy with the services. I can easily book equipment sitting at home
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
          <div class="card testimonial-card">
            <div class="card-up" style="background-color: #7a81a8;"></div>
            <div class="avatar mx-auto bg-white">
              <img src="images/review2.jpg" 
                class="rounded-circle img-fluid" height="250px" width="250px"/>
            </div>
            <div class="card-body">
              <h4 class="mb-4">Vikram Sen</h4>
              <hr />
              <p class="dark-grey-text mt-4">
                <i class="fas fa-quote-left pe-2"></i>Very Useful and provides timely services
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0 d-flex align-items-stretch">
          <div class="card testimonial-card">
            <div class="card-up" style="background-color: #6d5b98;"></div>
            <div class="avatar mx-auto bg-white">
              <img src="images/review3.jpg"
                class="rounded-circle img-fluid"  height="200px" width="200px"/>
            </div>
            <div class="card-body">
              <h4 class="mb-4">Chandrashekhar</h4>
              <hr />
              <p class="dark-grey-text mt-4">
                <i class="fas fa-quote-left pe-2"></i>
                Very Easy to book an equipment. Prices  are also fair when compared with others 
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- end review service -->
         
        
      
      
      <!-- contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage text_align_center">
                     <span>Our Contact</span>
                     <h2>Request A Call Back</h2>
                  </div>
               </div>
               <div class="col-md-8 offset-md-2">
                  <form id="request" class="main_form" method="post" action="/submitcontact">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="form_control" placeholder="Your Name" type="text" name=" name" required> 
                        </div>
                        <div class="col-md-12">
                           <input class="form_control" placeholder="Phone Number" type="text" name="phone" required>                          
                        </div>
                       
                        <div class="col-md-12">
                           <input type="email" name="email" placeholder="Email Address" id="" class="form_control" required>
                        </div>
                        <div class="col-md-12">
                           <input class="textarea" placeholder="Message" type="type" name="message" required> 
                        </div>
                        <div class="col-md-12">
                           <div class="group_btn">
                           <button class="send_btn" type="submit" >Send</button>
                           
                         </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Shiv+Nadar+University+Noida" width="600" height="430" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
<%- include ('partials/footer') %>