<%- include ('partials/header') %>

         <!-- end of header -->
         <div class="md-8">
            <div class="container-fluid fa-align-justify">
                <br>
                <br><br>
                <h1>Mohan Bhati</h1>
                <ol>
                    <li>Name :<b>Mohan Bhati</b> </li>
                    <li>Contact No: <b>9415751574</b> </li>
                    <li> Village :<b>Akbarpur</b> </li>
                    <li>Equipment :<b>Tractor,Harrow</b> </li>
                    <li>Charge :
                        <li> <b>Harrow - <i>Rs.200/Bigha</i></b> </li>
                        <li><b>Tultivator- <i>Rs.1000/Hrs</i> </b> </li>
                    </li>
                    <li>Rating: <b> <i>4.7/5</i></b></li>
                </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 sm-12">
                            <img src="/images/mohanbhati1.jpg" alt="" srcset="">
                        </div>
                        <div class="col-md-6 sm-12">
                            <img src="/images/mohanbhati2.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                
            
                
             </div>
         </div>

         <br>
         <br><br>
 

         <!-- start of footer -->
         <%- include ('partials/footer') %>