<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>EasyFarm</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div class="full_bg">
         <!-- header -->
         <header class="header-area">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3">
                     <div class="logo">
                        <a href="index.html">EASY<span>FARM</span></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                            <ul>
                                <li><a href="/home">Home</a></li>
                                <li><a  href="/about">About</a></li>
                                <li><a href="/service">Service</a></li>
                                <li><a href="/policy">Policy</a></li>
                                <li><a href="/contact">Contact</a></li>
                             </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
                  <div class="col-md-2 padd_0 d_none">
                     <ul class="email text_align_right">
                        <li><a href="/login">Login</a>
                        </li>
                        <li><a href="/register">Register</a> </li>

                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header inner -->
         <!-- top -->
         
         <div class="about">
            <div class="container-fluid m-md-4">
                <div class="row d_flex">
                    <div class="col-lg-6 col-md-12">
                        <div class="titlepage text_align_center"></div>
                       <span>Policy</span>
                       <h1>AGRICULTURE</h1>
                       <p> <span style="color:green">Agriculture</span> is a state subject, and the State Governments are primarily responsible for the growth and development of agriculture sector in their respective States. The Government supplements the efforts of States through appropriate policy measures and budgetary support.  Presently the approach of the Government of India has shifted from production centric to income centric platform in the agriculture sector and the above schemes are being implemented for making farming viable.</p>
                       <br>
                       <p>कृषि राज्य का विषय है और राज्य सरकारें अपने-अपने राज्यों में कृषि क्षेत्र की वृद्धि और विकास के लिए मुख्य रूप से जिम्मेदार हैं। सरकार उपयुक्त नीतिगत उपायों और बजटीय सहायता के माध्यम से राज्यों के प्रयासों को संपूरित करती है। वर्तमान में भारत सरकार का दृष्टिकोण कृषि क्षेत्र में उत्पादन केन्द्रित से आय केन्द्रित मंच की ओर स्थानांतरित हो गया है तथा कृषि को व्यवहार्य बनाने के लिए उपरोक्त योजनाओं को क्रियान्वित किया जा रहा है।</p>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about_img">
                            <div class="row d_flex"  >
                                <img  src="images/Agriculture.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            
                <div class="container-fluid m-md-4">
                    <div class="row ">
                       
                        <div class="col-lg-6 col-md-12 ">
                            <li> <h1 ><b> 1. Pradhan Mantri Krishi Sinchai Yojana</b> </h1></li>
                             <p>Launched on 1st July 2015 with the motto of ‘Har Khet Ko Paani’, the Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) is being implemented to expand cultivated area with assured irrigation, reduce wastage of water and improve water use efficiency. PMKSY not only focuses on creating sources for assured irrigation, but also creating protective irrigation by harnessing rainwater at micro level through ‘Jal Sanchay’ and ‘Jal Sinchan’.  Micro irrigation is also incentivized through subsidy to ensure ‘Per drop-More crop’.  The target under micro-irrigation for the year 2016-17 was 8 lakh ha. against which 8.39 lakh ha have been covered.</p>
         
                             <br>
                             <p>1 जुलाई, 2015 को 'हर खेत को पानी' के आदर्श वाक्य के साथ शुरू की गई प्रधानमंत्री कृषि सिंचाई योजना (पीएमकेएसवाई) सुनिश्चित सिंचाई के साथ खेती वाले क्षेत्र का विस्तार करने, पानी की बर्बादी को कम करने और पानी के उपयोग की दक्षता में सुधार करने के लिए कार्यान्वित की जा रही है। पीएमकेएसवाई न केवल आश्वस्त सिंचाई के लिए स्रोत बनाने पर ध्यान केंद्रित करता है, बल्कि 'जल संचय' और 'जल सिंचन' के माध्यम से सूक्ष्म स्तर पर वर्षा जल का दोहन करके सुरक्षात्मक सिंचाई का निर्माण भी करता है। 'प्रति बूंद-अधिक फसल' सुनिश्चित करने के लिए सब्सिडी के माध्यम से सूक्ष्म सिंचाई को भी प्रोत्साहित किया जाता है। वर्ष 2016-17 के लिए सूक्ष्म सिंचाई के तहत लक्ष्य 8 लाख हेक्टेयर था। जिसके विरूद्ध 8.39 लाख हेक्टेयर को कवर किया गया है।</p>
                             
         
                            
                                
                             
                         </div>

                         <div class="col-lg-6 col-md-12">
                            <img src="images/policy1.jpg" alt="" srcset="">
                            <div class="row">
                                <div class="col">
                                    <a  class="text-primary" href="https://pmksy.gov.in" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                                </div>
                                <div class="col">
                                    <a  class="text-primary" href="https://upagripardarshi.gov.in/Index.aspx" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                                </div>
    
                               </div>
                         </div>
                    
                    </div>
                 </div>
                 
            
           
<br>
            <div class="container-fluid m-md-4">
                <li> <h1 ><b> 2. Soil Health Card Scheme</b> </h1></li>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <img src="images/policy2.jpg" alt="" srcset="">
                        <div class="row">
                            <div class="col">
                                <a  class="text-primary" href="https://www.india.gov.in/spotlight/soil-health-card" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                            </div>
                            <div class="col">
                                <a  class="text-primary" href="https://upagripardarshi.gov.in/Index.aspx" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                            </div>
    
                        </div>
                    </div>
                    
                  
                        <div class="col-lg-6 col-md-12">
                            <p>Launched in 2015, the scheme has been introduced to assist State Governments to issue Soil Health Cards to all farmers in the country.  The Soil Health Cards provide information to farmers on nutrient status of their soil along with recommendation on appropriate dosage of nutrients to be applied for improving soil health and its fertility.</p>
                            <p>As on 11.7.2017, against target of 253 lakh soil samples, all 253 lakh soil samples have been collected and 245 lakh (97%) samples have been tested.  Against target of 12 crore Soil Health Cards, so far 9 crore (76%) cards have been distributed to farmers.</p>
        
                            <br>
                            <p>2015 में शुरू की गई, देश में सभी किसानों को मृदा स्वास्थ्य कार्ड जारी करने के लिए राज्य सरकारों की सहायता के लिए योजना शुरू की गई है। मृदा स्वास्थ्य कार्ड मिट्टी के स्वास्थ्य और इसकी उर्वरता में सुधार के लिए लागू होने वाले पोषक तत्वों की उचित खुराक पर सिफारिश के साथ किसानों को उनकी मिट्टी की पोषक स्थिति के बारे में जानकारी प्रदान करते हैं।</p>
                       
                            <p>11.7.2017 तक, 253 लाख मिट्टी के नमूनों के लक्ष्य के मुकाबले, सभी 253 लाख मिट्टी के नमूने एकत्र किए गए हैं और 245 लाख (97%) नमूनों का परीक्षण किया गया है। 12 करोड़ मृदा स्वास्थ्य कार्ड के लक्ष्य के मुकाबले अब तक किसानों को 9 करोड़ (76%) कार्ड वितरित किए जा चुके हैं।</p>
                            
                                 
                            
                        </div>
                    

                </div>
             </div>

             <br>
             <div class="container-fluid m-md-4">
                <li> <h1 ><b> 3. Neem Coated Urea</b> </h1></li>
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <p>Scheme being promoted to regulate use of urea, enhance availability of nitrogen to the crop and reduce cost of fertilizer application.  NCU slows down the release of fertilizer and makes it available to the crop in an effective manner. The entire quantity of domestically manufactured and imported urea is now neem coated. The reports from field are positive. The expected saving is 10% of urea consumption, thereby resulting in reduced cost of cultivation and improved soil health management.</p>
   
                        
    
                        <br>
                        <p>यूरिया के उपयोग को विनियमित करने, फसल को नाइट्रोजन की उपलब्धता बढ़ाने और उर्वरक प्रयोग की लागत को कम करने के लिए योजना को बढ़ावा दिया जा रहा है। एनसीयू उर्वरक की रिहाई को धीमा कर देता है और इसे प्रभावी तरीके से फसल को उपलब्ध कराता है। घरेलू स्तर पर निर्मित और आयातित यूरिया की पूरी मात्रा अब नीम कोटेड है। फील्ड से रिपोर्ट पॉजिटिव है। अपेक्षित बचत यूरिया की खपत का 10% है, जिससे खेती की लागत कम होती है और मृदा स्वास्थ्य प्रबंधन में सुधार होता है।</p>
                   
                        
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <img src="images/Policy3.jpg" alt="" srcset="">
                        <div class="row">
                            <div class="col">
                                <a  class="text-primary" href="https://en.wikipedia.org/wiki/Neem-coated_urea" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                            </div>
                            <div class="col">
                                <a  class="text-primary" href=" https://upagripardarshi.gov.in/Index.aspx" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                            </div>

                        </div>
                    </div>
                </div>


                 
             </div>

             <br>

             <div class="container-fluid m-md-4">
                <li> <h1 ><b> 4.Paramparagat Krishi Vikas Yojana </b> </h1></li>
                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <img src="images/Policy4.png" alt="" srcset="">
                            <div class="row">
                                <div class="col">
                                    <a  class="text-primary" href=" https://pmmodiyojana.in/paramparagat-krishi-vikas-yojana/#:~:text=Paramparagat%20Krishi%20Vikas%20Yojana%20%E0%A4%95%E0%A5%87%20%E0%A4%85%E0%A4%82%E0%A4%A4%E0%A4%B0%E0%A5%8D%E0%A4%97%E0%A4%A4%20%E0%A4%B8%E0%A4%B0%E0%A4%95%E0%A4%BE%E0%A4%B0%20%E0%A4%A6%E0%A5%8D%E0%A4%B5%E0%A4%BE%E0%A4%B0%E0%A4%BE%20%E0%A4%9C%E0%A5%88%E0%A4%B5%E0%A4%BF%E0%A4%95%20%E0%A4%96%E0%A5%87%E0%A4%A4%E0%A5%80,8800%20%E0%A4%B0%E0%A5%81%E0%A4%AA%E0%A4%AF%E0%A4%BE%20%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%A6%E0%A4%BE%E0%A4%A8%20%E0%A4%95%E0%A4%BF%E0%A4%8F%20%E0%A4%9C%E0%A4%BE%E0%A4%8F%E0%A4%82%E0%A4%97%E0%A5%87%E0%A5%A4" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                                </div>
                                <div class="col">
                                    <a  class="text-primary" href=" https://upagripardarshi.gov.in/Index.aspx" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <p>Paramparagat Krishi Vikas Yojana (PKVY) is being implemented with a view to promote organic farming in the country.  This will improve soil health and organic matter content and increase net income of the farmer to realise premium prices. Under this scheme, an area of 5 lakh acre is targeted to be covered though 10,000 clusters of 50 acre each, from the year 2015-16 to 2017-18.</p>
                               <p>So far 7208 clusters have been formed and remaining clusters would be formed during 2017-18.</p>
       
                            
        
                              <br>
                             <p>देश में जैविक खेती को बढ़ावा देने के उद्देश्य से परम्परागत कृषि विकास योजना (पीकेवीवाई) लागू की जा रही है। इससे मृदा स्वास्थ्य और जैविक पदार्थ की मात्रा में सुधार होगा और किसान की शुद्ध आय में वृद्धि होगी ताकि प्रीमियम कीमतों का एहसास हो सके। इस योजना के तहत, वर्ष 2015-16 से 2017-18 तक 50 एकड़ के 10,000 समूहों के माध्यम से 5 लाख एकड़ के क्षेत्र को कवर करने का लक्ष्य रखा गया है।
                               अब तक 7208 कलस्टर बन चुके हैं और शेष कलस्टर 2017-18 में बन जायेंगे।
                              </p>
                       
                               
                                
                               
                            
                        </div>
                        
                    </div>

                 
             </div>
       <br>
             <div class="container-fluid m-md-4">
                <li> <h1 ><b> 5. National Agriculture Market</b> </h1></li>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <p>The National Agriculture Market scheme (e-NAM) envisages initiation of e-marketing platform at national level and to support creation of infrastructure to enable e-marketing in 585 regulated markets across the country by March 2018. This innovative market process is revolutionizing Agri markets by ensuring better price discovery, bringing in transparency and competition to enable farmers to get improved remuneration for their produce moving towards ‘One Nation One Market’.  A target of integrating 400 markets to e-NAM had been set for March 2017 against which 455 markets in 13 States have been on boarded as on 30.6.2017.  As on 2.7.2017, 47.95 lakh farmers and 91,500 traders have registered on e-NAM portal.</p>
       
       
                            <br>
                             <p>राष्ट्रीय कृषि बाजार योजना (ई-एनएएम) राष्ट्रीय स्तर पर ई-मार्केटिंग प्लेटफॉर्म की शुरुआत और मार्च 2018 तक देश भर में 585 विनियमित बाजारों में ई-मार्केटिंग को सक्षम करने के लिए बुनियादी ढांचे के निर्माण की परिकल्पना करती है। यह अभिनव बाजार प्रक्रिया कृषि बाजारों में क्रांति ला रही है। बेहतर कीमत की खोज सुनिश्चित करके, किसानों को 'वन नेशन वन मार्केट' की ओर बढ़ते हुए उनकी उपज के लिए बेहतर पारिश्रमिक प्राप्त करने में सक्षम बनाने के लिए पारदर्शिता और प्रतिस्पर्धा लाकर। मार्च, 2017 के लिए 400 बाजारों को ई-एनएएम से जोड़ने का लक्ष्य रखा गया था, जिसकी तुलना में 30.06.2017 तक 13 राज्यों के 455 बाजारों को इससे जोड़ा जा चुका है। 2.7.2017 तक, 47.95 लाख किसानों और 91,500 व्यापारियों ने e-NAM पोर्टल पर पंजीकरण कराया है।</p>
                       
                            
                            
                               
                                
                               
                            
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <img src="images/policy5.jpg" alt="" srcset="">
                            <div class="row">
                                <div class="col">
                                    <a  class="text-primary" href="https://www.enam.gov.in/web/" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                                </div>
                                <div class="col">
                                    <a  class="text-primary" href=" https://upagripardarshi.gov.in/Index.aspx" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                                </div>
    
                            </div>
                        </div>


                    </div>


                 
             </div>

             <br>

             <div class="container-fluid m-md-4">
                <li> <h1 ><b> 6. Pradhan Mantri Fasal Bima Yojana</b> </h1></li>

                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <img src="images/policy6.jpg" alt="" srcset="">
                        <div class="row">
                            <div class="col">
                                <a  class="text-primary" href="https://pmfby.gov.in/" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                            </div>
                            <div class="col">
                                <a  class="text-primary" href=" https://www.pmfby.gov.in/farmerRegistrationForm" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-8 col-md-6">
                        <p>Pradhan Mantri Fasal Bima Yojana (PMFBY) & Restructured Weather Based Crop Insurance Scheme (RWBCIS) were launched from Kharif 2016 to provide comprehensive crop insurance coverage from pre-sowing to post harvest losses against non-preventable natural risks.  These schemes are only risk mitigation tools available to farmers at extremely low premium rates payable by farmers at 2% for Kharif crops, 1.5% for Rabi Crop and 5% for annual commercial/horticultural crops.  The balance of actuarial premium is shared by the Central and State Governments on 50: 50 bases.  The schemes are voluntary for States and available in areas and crops that are notified by the State Governments.    Further, the schemes are compulsory for loanee farmers and voluntary for non-loanee farmers. </p>
                           <p>During Kharif 2016 season, a total of 23 States implemented both PMFBY (21) and RWBCS (12) and during Rabi 2016-17, 24 States and 3 Union Territories implemented PMFBY (25) and RWBCIS (9).    Overall coverage of both the schemes is 401.52 lakh farmers and 385 lakh ha. area insured for a sum of Rs. 133106 crores in Kharif 2016 and 172.67 lakh farmers and 195 lakh ha. area insured for a sum of Rs. 71696 crores during Rabi 2016-17 season.</p>
   
                        <br>
                       <p>प्रधान मंत्री फसल बीमा योजना (पीएमएफबीवाई) और पुनर्गठित मौसम आधारित फसल बीमा योजना (आरडब्ल्यूबीसीआईएस) को खरीफ 2016 से शुरू किया गया था ताकि गैर-निवारणीय प्राकृतिक जोखिमों के खिलाफ पूर्व-बुवाई से लेकर कटाई के बाद के नुकसान तक व्यापक फसल बीमा कवरेज प्रदान किया जा सके। ये योजनाएँ केवल जोखिम कम करने के साधन हैं जो किसानों द्वारा खरीफ फसलों के लिए 2%, रबी फसल के लिए 1.5% और वार्षिक वाणिज्यिक/बागवानी फसलों के लिए 5% की दर से किसानों द्वारा देय बेहद कम प्रीमियम दरों पर उपलब्ध हैं। एक्चुरियल प्रीमियम का बैलेंस केंद्र और राज्य सरकारों द्वारा 50:50 के आधार पर साझा किया जाता है। योजनाएं राज्यों के लिए स्वैच्छिक हैं और राज्य सरकारों द्वारा अधिसूचित क्षेत्रों और फसलों में उपलब्ध हैं। इसके अलावा, योजनाएँ ऋणी किसानों के लिए अनिवार्य हैं और गैर-कर्जदार किसानों के लिए स्वैच्छिक हैं।</p>
                    <p>खरीफ 2016 सीज़न के दौरान, कुल 23 राज्यों ने PMFBY (21) और RWBCS (12) दोनों को लागू किया और रबी 2016-17 के दौरान, 24 राज्यों और 3 केंद्र शासित प्रदेशों ने PMFBY (25) और RWBCIS (9) को लागू किया। दोनों योजनाओं का समग्र कवरेज 401.52 लाख किसान और 385 लाख हेक्टेयर है। रुपये की राशि के लिए बीमाकृत क्षेत्र। खरीफ 2016 में 133106 करोड़ और 172.67 लाख किसान और 195 लाख हेक्टेयर। रुपये की राशि के लिए बीमाकृत क्षेत्र। रबी 2016-17 सीजन के दौरान 71696 करोड़।</p>
                        
                           
                    </div>
                </div>
                
             </div>


             <div class="container-fluid m-md-4">
                <li> <h1 ><b> 7. Interest Subvention Scheme</b> </h1></li>

                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <p>The Government provides interest subvention of 3% on short-term crop loans up to Rs.3.00 lakh.  Presently, loan is available to farmers at an interest rate of 7% per annum, which gets reduced to 4% on prompt repayment.  Further, under Interest Subvention Scheme 2016-17, to provide relief to the farmers on occurrence of natural calamities, the interest subvention of 2% shall continue to be available to banks for the first year on the restructured amount. To discourage distress sale by farmers and to encourage them to store their produce in warehouses against negotiable warehouse receipts, the benefit of interest subvention will be available to small and marginal farmers having Kisan Credit Card for a further period of up to six months post-harvest on the same rate as available to crop loan.</p>
   
                        <br>
                      <p>सरकार 3.00 लाख रुपये तक के अल्पावधि फसल ऋण पर 3% का ब्याज सबवेंशन प्रदान करती है। वर्तमान में, किसानों को 7% प्रति वर्ष की ब्याज दर पर ऋण उपलब्ध है, जो शीघ्र चुकौती पर 4% तक कम हो जाता है। इसके अलावा, ब्याज सबवेंशन स्कीम 2016-17 के तहत, प्राकृतिक आपदा होने पर किसानों को राहत प्रदान करने के लिए, पुनर्गठित राशि पर पहले वर्ष के लिए बैंकों को 2% का ब्याज सबवेंशन उपलब्ध रहेगा। किसानों द्वारा आपात बिक्री को हतोत्साहित करने और परक्राम्य गोदाम रसीदों के विरुद्ध गोदामों में अपनी उपज को स्टोर करने के लिए प्रोत्साहित करने के लिए किसान क्रेडिट कार्ड रखने वाले छोटे और सीमांत किसानों को फसल काटने के बाद छह महीने तक की अवधि के लिए ब्याज सबवेंशन का लाभ मिलेगा। फसल ऋण के लिए उपलब्ध दर पर।</p>
                  
                        
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <img src="images/policy7.jpg" alt="" srcset="">
                        
                        <div class="row">
                            <div class="col">
                                <a  class="text-primary" href="https://www.nabard.org/content1.aspx?id=602&catid=23&mid=23" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                            </div>
                            <div class="col">
                                <a  class="text-primary" href="  https://upagripardarshi.gov.in/Index.aspx" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                            </div>

                        </div>
                    </div>
                </div>
                 
             </div>
             
            
         </div>
           
      <!--  footer -->
      <footer>
        <div class="footer">
           <div class="container">
              <div class="row">
                        <div class="col-lg-3 col-md-6">
                          <div class="hedingh3  text_align_left">
                             <h3>Newsletter</h3>
                             <form id="colof" class="form_subscri" onsubmit="return alert('You have been successfully subscribed')" >
                                <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                                <input type="submit" value="Subscribe" class="btn btn-secondary">
                                
                             </form>
                             
                          </div>
                       </div>
                       <div class="col-lg-3 col-md-6">
                          <div class="hedingh3 text_align_left">
                             <h3> Explore</h3>
                             <ul class="menu_footer">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/service">Service</a></li>
                           
                              
                                <li><a href="/contact">Contact us</a></li>
                             </ul>
                          </div>
                       </div>
                       <div class="col-lg-3 col-md-6">
                          <div class="hedingh3 text_align_left">
                             <h3>Recent Posts</h3>
                             <ul class="recent">
                                <li><img src="images/resent.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                                <li><img src="images/resent.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                             </ul>
                          </div>
                       </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="hedingh3  flot_right text_align_left">
                             <h3>ContacT</h3>
                             <ul class="top_infomation">
                                <li><i class="fa fa-phone" aria-hidden="true"></i>
                                   +918791009298
                                </li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                   <a href="Javascript:void(0)">easyfarmup@gmail.com</a>
                                </li>
                             </ul>
                          </div>
                       </div>
                    </div>
                 </div>
            
           <div class="copyright">
              <div class="container">
                 <div class="row d_flex">
                    <div class="col-md-8">
                       <p>© 2022 All Rights Reserved.</p>
                    </div>
                    <div class="col-md-4">
                          <ul class="social_icon ">
                             <li><a href="https://www.facbook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                             <li><a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                             <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
                    
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/bootstrap-datepicker.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>