<%- include ('partials/header') %>
         <!-- end header inner -->
         <!-- top -->
         
         <div class="about">
            <div class="container-fluid m-md-4">
                <div class="row d_flex">
                    <div class="col-lg-6 col-md-12">
                        <div class="titlepage text_align_center"></div>
                       <span><h1><b>Government policies for Farmers</b></h1>  </span>
                       <span><h3>PM-Kisan Helpline No. 155261 / 011-24300606</h3> </span>
                       <br>
                       <br>

                    </div>
                    
                </div>
            </div>
            <br>

            
                <div class="container-fluid m-md-4">
                    <div class="row ">
                       
                        <div class="col-lg-6 col-md-12 ">
                            <li> <h1 ><b> 1. Agriculture Infrastructure fund</b> </h1></li>
                             <p>The Agriculture Infrastructure Fund scheme is aimed at enabling the farmers to get greater value for their produce as they will be able to store and sell at higher prices, reduce wastage, and increase processing and value addition. A loan of up to Rs. 2 Crore will be provided under the Agriculture Infrastructure Fund.</p>
         
                             <br>
                             <p>Hon’ble Finance Minister on 15 May 2020 announced Rs. 1 lakh crore Agri Infrastructure Fund for farm-gate infrastructure for farmers. Financing facility of Rs. 1,00,000 crores will be provided for funding Agriculture Infrastructure Projects at farm-gate & aggregation points (Primary Agricultural Cooperative Societies, Farmers Producer Organizations, Agriculture entrepreneurs, Start-ups, etc.). Impetus for development of farmgate& aggregation point, affordable and financially viable Post Harvest Management infrastructure.</p>
                             
                            <br>
                            <p>Credit guarantee coverage will be available for eligible borrowers from this financing facility under Credit Guarantee Fund Trust for Micro and Small Enterprises (CGTMSE) scheme for a loan up to Rs. 2 crores. The fee for this coverage will be paid by the Government. In case of FPOs the credit guarantee may be availed from the facility created under FPO promotion scheme of DACFW.</p>
                            <h4><b>Who can Apply for Agriculture Infrastructure Fund Scheme</b></h4>
                            <div>
                                <ol>
                                    <li>•   Primary Agricultural Credit Societies (PACS).</li>
                                    <li>•	Marketing Cooperative Societies.</li>
                                    <li>•	Marketing Cooperative Societies.</li>
                                    <li>•	Farmer Producers Organizations (FPOs).</li>
                                    <li>•	Farmers.</li>
                                    <li>•	Self Help Group (SHG)</li>
                                    <li>•	Joint Liability Groups (JLG).</li>
                                    <li>•	Multipurpose Cooperative Societies.</li>
                                    <li>•	Agri-entrepreneurs, Startups.</li>
                                    <li>•	Central/State agency or Local Body sponsored Public-Private Partnership Projects.</li>
                                </ol>
                            </div>
                         </div>

                         <div class="col-lg-6 col-md-12 ">
                            <li> <h1 ><b> 1.एग्रीकल्चर इंफ्रास्ट्रक्चर फंड-</b> </h1></li>
                             <p>कृषि अवसंरचना कोष योजना का उद्देश्य किसानों को उनकी उपज के लिए अधिक मूल्य प्राप्त करने में सक्षम बनाना है क्योंकि वे उच्च कीमतों पर भंडारण और बिक्री करने, बर्बादी को कम करने और प्रसंस्करण और मूल्य संवर्धन में वृद्धि करने में सक्षम होंगे। रुपये तक का ऋण। कृषि अवसंरचना कोष के तहत 2 करोड़ रुपये प्रदान किए जाएंगे।</p>
         
                             <br>
                             <p>माननीय वित्त मंत्री ने 15 मई 2020 को रुपये की घोषणा की। किसानों के लिए फार्म-गेट इंफ्रास्ट्रक्चर के लिए 1 लाख करोड़ का एग्री इंफ्रास्ट्रक्चर फंड। रुपये की वित्तपोषण सुविधा। फार्म-गेट और एकत्रीकरण बिंदुओं (प्राथमिक कृषि सहकारी समितियों, किसान उत्पादक संगठनों, कृषि उद्यमियों, स्टार्ट-अप, आदि) पर कृषि अवसंरचना परियोजनाओं के वित्तपोषण के लिए 1,00,000 करोड़ रुपये प्रदान किए जाएंगे। फार्मगेट और एकत्रीकरण बिंदु, किफायती और वित्तीय रूप से व्यवहार्य पोस्ट हार्वेस्ट प्रबंधन बुनियादी ढांचे के विकास के लिए प्रोत्साहन।</p>
                             
                            <br>
                            <p>माइक्रो एंड स्मॉल एंटरप्राइजेज (CGTMSE) योजना के लिए क्रेडिट गारंटी फंड ट्रस्ट के तहत इस वित्तपोषण सुविधा से पात्र उधारकर्ताओं के लिए क्रेडिट गारंटी कवरेज रुपये तक के ऋण के लिए उपलब्ध होगा। 2 करोड़। इस कवरेज के लिए शुल्क का भुगतान सरकार द्वारा किया जाएगा। एफपीओ के मामले में डीएसीएफडब्ल्यू की एफपीओ प्रोत्साहन योजना के तहत बनाई गई सुविधा से क्रेडिट गारंटी का लाभ उठाया जा सकता है।</p>
                            <h4><b>कृषि अवसंरचना निधि योजना के लिए कौन आवेदन कर सकता है</b></h4>
                            <div>
                                <ol>
                                    
                                    <li>•   प्राथमिक कृषि साख समितियां (पीएसीएस)।</li>
                                    <li>•   विपणन सहकारी समितियों।</li>
                                    <li>•   किसान उत्पादक संगठन (एफपीओ)।</li>
                                    <li>•	किसान। </li>
                                    <li>•	स्वयं सहायता समूह (SHG)</li>
                                    <li>•	संयुक्त देयता समूह (जेएलजी)।</li>
                                    <li>•	बहुउद्देशीय सहकारी समितियां।</li>
                                    <li>•	कृषि-उद्यमी, स्टार्टअप।</li>
                                    <li>•	केंद्रीय/राज्य एजेंसी या स्थानीय निकाय प्रायोजित सार्वजनिक-निजी भागीदारी परियोजनाएं।</li>
                                </ol>
                            </div>
                         </div>

                         <div class="col-lg-6 col-md-12">
                            <img src="images/policy1.jpg" alt="" srcset="">
                            <div class="row">
                                
                                <div class="col">
                                    <a  class="text-primary" href="https://sarkariyojana.com/agriculture-infrastructure-fund/" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                                </div>
    
                               </div>
                         </div>
                    
                    </div>
                 </div>
                 
            
           
<br>
            <div class="container-fluid m-md-4">
                <li> <h1 ><b> 2. Kisan Credit Card</b> </h1></li>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <img src="images/policy2.jpg" alt="" srcset="">
                        <div class="row">
                            <div class="col">
                                <a  class="text-primary" href="https://www.myscheme.gov.in/schemes/kcc" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                            </div>
    
                        </div>
                    </div>
                    
                  
                        <div class="col-lg-6 col-md-12">
                            <p>It is a credit scheme introduced in August 1998 by Indian public sector banks to issue kisan credit card to the farmers of India. This model scheme was prepared by the National Bank for Agriculture and Rural Development (NABARD) on the recommendations of the R. V. Gupta Committee to provide advances for agricultural needs. </p>
                            <br>
                            <p>Its objective was to meet the comprehensive credit requirements of the agriculture sector and by 2019 for fisheries and animal husbandry by giving financial support to farmers. Participating institutions include all commercial banks, Regional Rural Banks, and state co-operative banks. The scheme entails short-term credit for crops and term loans. KCC credit holders are also covered under personal accident insurance up to ₹50,000 for death and permanent disability, and up to ₹25,000 for other risks. The premium is borne by both the bank and the borrower in a 2:1 ratio. The validity period is five years, with an option to extend it up to three more years. Kisaan Credit Card (KCC) credit to the farmers is of two types, viz., </p>
                            <br>
                            <h3>1. Cash Credit (for working capital) </h3>
                            <h3>2. Term Credit (for capital expenditure such as the purchase of cattle, pump sets, land development, plantation, drip irrigations, etc.)</h3>
                             <div>
                                <h2><b>Objective / Purpose</b></h2>
                                <p>The Kisan Credit Card scheme aims at providing adequate and timely credit support from the banking system under a single window with the flexible and simplified procedures to the farmers for their cultivation and other needs as indicated below:</p>
                                <ol>
                                    <li>1.	To meet the short-term credit requirements for the cultivation of crops.</li>
                                    <li>2.	Post-harvest expenses.</li>
                                    <li>3.	Produce marketing loan.</li>
                                    <li>4.	Consumption requirements of farmer household.</li>
                                    <li>5.	Working capital for maintenance of farm assets and activities allied to agriculture.</li>
                                    <li>6.	Investment credit requirement for agriculture and allied activities.</li>
                                </ol>
                             </div>


                             <div>
                                <h2><b>Eligibility</b></h2>
                                <ol>
                                    <li>1.	Farmers - individual/joint borrowers who are owner cultivators.</li>
                                    <li>2.	Tenant farmers, oral lessees & sharecroppers.</li>
                                    <li>3.	Self Help Groups (SHGs) or Joint Liability Groups (JLGs) of farmers including tenant farmers, sharecroppers etc.</li>

                                </ol>
                             </div>
                            <br>
                        </div>
                        
                        <div class="col-lg-6 col-md-12">

                            <li> <h1 ><b> 2. किसान क्रेडिट कार्ड-</b> </h1></li>
                            <p>यह भारत के किसानों को किसान क्रेडिट कार्ड जारी करने के लिए भारतीय सार्वजनिक क्षेत्र के बैंकों द्वारा अगस्त 1998 में शुरू की गई एक क्रेडिट योजना है। यह मॉडल योजना राष्ट्रीय कृषि और ग्रामीण विकास बैंक (नाबार्ड) द्वारा कृषि जरूरतों के लिए अग्रिम प्रदान करने के लिए आर वी गुप्ता समिति की सिफारिशों पर तैयार की गई थी।</p>
                            <br>
                            <p>इसका उद्देश्य किसानों को वित्तीय सहायता देकर 2019 तक मत्स्य पालन और पशुपालन के लिए कृषि क्षेत्र की व्यापक ऋण आवश्यकताओं को पूरा करना था। भाग लेने वाले संस्थानों में सभी वाणिज्यिक बैंक, क्षेत्रीय ग्रामीण बैंक और राज्य सहकारी बैंक शामिल हैं। इस योजना में फसलों और सावधि ऋणों के लिए अल्पकालिक ऋण शामिल है। केसीसी क्रेडिट धारकों को व्यक्तिगत दुर्घटना बीमा के तहत मृत्यु और स्थायी विकलांगता के लिए ₹50,000 तक और अन्य जोखिमों के लिए ₹25,000 तक कवर किया जाता है। प्रीमियम बैंक और उधारकर्ता दोनों द्वारा 2:1 के अनुपात में वहन किया जाता है। वैधता अवधि पांच वर्ष है, इसे तीन और वर्षों तक बढ़ाने का विकल्प है। किसानों को किसान क्रेडिट कार्ड (केसीसी) क्रेडिट दो प्रकार का है, अर्थात।</p>
                            <br>
                            <h3>1. कैश क्रेडिट (वर्किंग कैपिटल के लिए) </h3>
                            <h3>2. सावधि ऋण (पूंजीगत व्यय के लिए जैसे मवेशियों की खरीद, पंप सेट, भूमि विकास, वृक्षारोपण, ड्रिप सिंचाई, आदि।) </h3>
                               
                               
                             <div>
                                <h2><b>उद्देश्य </b></h2>
                                <p>किसान क्रेडिट कार्ड योजना का उद्देश्य किसानों को उनकी खेती और अन्य जरूरतों के लिए लचीली और सरल प्रक्रियाओं के साथ एकल खिड़की के तहत बैंकिंग प्रणाली से पर्याप्त और समय पर ऋण सहायता प्रदान करना है, जैसा कि नीचे बताया गया है:</p>
                                <ol>
                                    <li>1. फसलों की खेती के लिए अल्पावधि ऋण आवश्यकताओं को पूरा करने के लिए।</li>
                                    <li>2. फसल कटाई के बाद का खर्च।</li>
                                    <li>3. विपणन ऋण का उत्पादन करें।</li>
                                    <li>4. किसान परिवार की उपभोग आवश्यकताएँ।</li>
                                    <li>5. कृषि संपत्तियों और कृषि से संबद्ध गतिविधियों के रखरखाव के लिए कार्यशील पूंजी।</li>
                                    <li>6. कृषि और संबद्ध गतिविधियों के लिए निवेश ऋण की आवश्यकता।</li>
                                </ol>
                             </div>


                             <div>
                                <h2><b>पात्रता</b></h2>
                                <ol>
                                    <li>1. किसान - व्यक्तिगत/संयुक्त कर्जदार जो मालिक किसान हैं।</li>
                                    <li>2. किरायेदार किसान, मौखिक पट्टेदार और बटाईदार।</li>
                                    <li>3. किरायेदार किसानों, बटाईदारों आदि सहित किसानों के स्वयं सहायता समूह (एसएचजी) या संयुक्त देयता समूह (जेएलजी)</li>

                                </ol>
                             </div>
                            <br>
                           
                            
                                 
                            
                        </div>
                    

                </div>
             </div>

             <br>
             <div class="container-fluid m-md-4">
                <li> <h1 ><b> 3. PM Kisan Samman Nidhi Yojana-</b> </h1></li>
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <p>Scheme being promoted to regulate use of urea, enhance availability of nitrogen to the crop and reduce cost of fertilizer application.  NCU slows down the release of fertilizer and makes it available to the crop in an effective manner. The entire quantity of domestically manufactured and imported urea is now neem coated. The reports from field are positive. The expected saving is 10% of urea consumption, thereby resulting in reduced cost of cultivation and improved soil health management.</p>
                            <br>
                            <p>Under the scheme an income support of 6,000/- per year in three equal instalments will be provided to all land holding farmer families. Definition of family for the scheme is husband, wife and minor children.</p>
                        <br>
                        <p>State Government and UT administration will identify the farmer families which are eligible for support as per scheme guidelines.</p>

                        <br>
                        <p>The fund will be directly transferred to the bank accounts of the beneficiaries. There are various Exclusion Categories for the scheme.</p>

                        <br>
                        <p>Requirements- eKYC is MANDATORY for PMKISAN Registered Farmers. OTP Based eKYC is available on PMKISAN Portal or nearest CSC centres may be contacted for Biometric based eKYC.</p>
    
                        <br>
                   
                        
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <p>पीएम किसान भारत सरकार की 100% फंडिंग वाली एक केंद्रीय क्षेत्र की योजना है। यह 1.12.2018 से चालू हो गया है।</p>
                            <br>
                            <p>पीएम किसान भारत सरकार की 100% फंडिंग वाली एक केंद्रीय क्षेत्र की योजना है। यह 1.12.2018 से चालू हो गया है।</p>
                        <br>
                        <p>योजना के तहत सभी भूमि धारक किसान परिवारों को तीन समान किस्तों में 6,000 / - प्रति वर्ष की आय सहायता प्रदान की जाएगी। योजना के लिए परिवार की परिभाषा पति, पत्नी और नाबालिग बच्चे हैं।</p>

                        <br>
                        <p>राज्य सरकार और केंद्रशासित प्रदेश प्रशासन उन किसान परिवारों की पहचान करेगा जो योजना के दिशा-निर्देशों के अनुसार सहायता के पात्र हैं।</p>

                        <br>
                        <p>राशि सीधे हितग्राहियों के बैंक खातों में भेजी जाएगी। योजना के लिए विभिन्न बहिष्करण श्रेणियां हैं।</p>
                        <p>आवश्यकताएँ- PMKISAN पंजीकृत किसानों के लिए eKYC अनिवार्य है। OTP आधारित eKYC PMKISAN पोर्टल पर उपलब्ध है या बायोमेट्रिक आधारित eKYC के लिए निकटतम CSC केंद्रों से संपर्क किया जा सकता है।</p>
    
                        <br>
                   
                        
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <img src="images/Policy3.jpg" alt="" srcset="">
                        <div class="row">
                            <div class="col">
                                <a  class="text-primary" href="https://en.wikipedia.org/wiki/Neem-coated_urea" target="_blank" rel="noopener noreferrer">अधिक जानने के लिए क्लिक करें </a>
                            </div>
                            <div class="col">
                                <a  class="text-primary" href=" https://upagripardarshi.gov.in/Index.aspx" target="_blank" rel="noopener noreferrer">आवेदन करने के लिए क्लिक करें </a>
                            </div>

                        </div>
                    </div>
                </div>


                 
             </div>

             <br>

           
      <!--  footer -->
      <%- include ('partials/footer') %>