 

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>EasyFarm</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">

      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div class="full_bg">
         <!-- header -->
         <header class="header-area">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3">
                     <div class="logo">
                        <a href="/home">EASY<span>FARM</span></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar sticky-top navbar-light">
                        

                           <ul>
                              <li><a href="/home">Home</a></li>
                              <li><a  href="/about">About</a></li>
                              <li><a href="/service">Service</a></li>
                              <li><a href="/policy">Policy</a></li>
                              <li><a href="/contact">Contact</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span>
                              
                           </span>
                           </button>
                           
                        </nav>
                     </div>
                  </div>
                  <div class="col-md-2 padd_0 d_none">
                     <ul class="email text_align_right">
            
                        <li><a href="/users/login">Login</a>
                        </li>
                        <li><a href="/users/register">Register</a> </li>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </header>

         <!-- end of header -->
         <div class="md-8">
            <div class="container-fluid fa-align-justify">
                <br>
                <br><br>
                <h1>Ramesh Singh</h1>
                <ol>
                    <li>Name :<b>Ramesh Singh</b> </li>
                    <li>Contact No: <b>9721751076</b> </li>
                    <li> Village :<b>Beel Akbarpur</b> </li>
                    <li>Equipment :<b>Tractor,Cultivator</b> </li>
                    <li>Charge :
                        <li> <b>Roatavator - <i>Rs.310/Bigha</i></b> </li>
                        <li><b>Cultivator- <i>Rs.310/Bigha</i> </b> </li>
                    </li>
                    <li>Rating: <b> <i>5.0/5</i></b></li>
                </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 sm-12">
                            <img src="/images/rameshsingh1.jpg" alt="" srcset="">
                        </div>
                        <div class="col-md-6 sm-12">
                            <img src="/images/rameshsingh2.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                
            
                
             </div>
         </div>

         <br>
         <br><br>
 

         <!-- start of footer -->
 <footer>
    <div class="footer">
       <div class="container">
          <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <div class="hedingh3  text_align_left">
                         <form id="colof" class="form_subscri" onsubmit="return alert('You have been successfully subscribed')" >
                            <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                            <input type="submit" value="Subscribe" class="btn btn-secondary">
                            
                         </form>
                         
                      </div>
                   </div>
                   <div class="col-lg-3 col-md-6">
                      <div class="hedingh3 text_align_left">
                         <h3> Explore</h3>
                         <ul class="menu_footer">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/service">Service</a></li>
                       
                          
                            <li><a href="/contact">Contact us</a></li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-lg-3 col-md-6">
                      <div class="hedingh3 text_align_left">
                         <h3>Recent Posts</h3>
                         <ul class="recent">
                            <li><img src="images/resent.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                            <li><img src="images/resent.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                         </ul>
                      </div>
                   </div>
                    <div class="col-lg-3 col-md-6">
                      <div class="hedingh3  flot_right text_align_left">
                         <h3>ContacT</h3>
                         <ul class="top_infomation">
                            <li><i class="fa fa-phone" aria-hidden="true"></i>
                               +918791009298
                            </li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i>
                               <a href="Javascript:void(0)">easyfarmup@gmail.com</a>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
        
       <div class="copyright">
          <div class="container">
             <div class="row d_flex">
                <div class="col-md-8">
                   <p>© 2022 All Rights Reserved.</p>
                </div>
                <div class="col-md-4">
                      <ul class="social_icon ">
                         <li><a href="https://www.facbook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                         <li><a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                         <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- end footer -->
 <!-- Javascript files-->
 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.bundle.min.js"></script>
 <script src="js/jquery-3.0.0.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/bootstrap-datepicker.min.js"></script>
 <script src="js/custom.js"></script>
 </body>
 </html>
 
 