<%- include ('partials/header') %>

         <!-- end of header -->
         <div class="md-8">
            <div class="container-fluid fa-align-justify">
                <br>
                <br><br>
                <h1>RamLal</h1>
                <ol>
                    <li>Name :<b>Ramlal</b> </li>
                    <li>Contact No: <b>9935295723</b> </li>
                    <li> Village :<b>Ramgarh</b> </li>
                    <li>Equipment :<b>Tractor,Cultivator</b> </li>
                    <li>Charge :
                        
                        <li><b>Cultivator- <i>Rs.310/Bigha</i> </b> </li>
                    </li>
                    <li>Rating: <b> <i>5.0/5</i></b></li>
                </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 sm-12">
                            <img src="/images/ramlal1.jpg" alt="" srcset="">
                        </div>
                        <div class="col-md-6 sm-12">
                            <img src="/images/ramlal2.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                
            
                
             </div>
         </div>

         <br>
         <br><br>
 

         <!-- start of footer -->
 
         <%- include ('partials/footer') %>
 
 