
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>EasyFarm</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">

      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div class="full_bg">
         <!-- header -->
         <header class="header-area">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3">
                     <div class="logo">
                        <a href="/home">EASY<span>FARM</span></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar sticky-top navbar-light">
                        

                           <ul>
                              <li><a href="/home">Home</a></li>
                              <li><a  href="/about">About</a></li>
                              <li><a href="/service">Service</a></li>
                              <li><a href="/policy">Policy</a></li>
                              <li><a href="/contact">Contact</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span>
                              
                           </span>
                           </button>
                           
                        </nav>
                     </div>
                  </div>
                  <div class="col-md-2 padd_0 d_none">
                     <ul class="email text_align_right">
            
                        <li><a href="https://easyfarmss.onrender.com/">Click Here for Booking</a>
                        </li>
                        
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </header>


         
         <!-- end header inner -->
         
      <!-- services -->
      <div class="services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_left text-success">
                     <span >What We Do</span>
                         <h2> <b> Facilitate renting of agriculture equipment</b> </h2>
                  </div>
               </div>
            </div>





            <div class="row">
               <div class="col-md-4">
                  <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/1service.jpg" alt="#" /></figure>
                        <div class="veget">
                           <!-- <h3  >TRACTOR <br>RENTAL</h3> -->
                           <h3 >TRACTOR RENTAL</h3>
                           <!-- <ol>
                              <li><a href="/vinodkumar">Vinod Kumar</a></li>
                              <li><a href="/rameshsingh">Ramesh Singh</a> </li>
                              <li><a href="/mohanbhati">Mohan Bhati</a> </li>
                              <li><a href="/anilbhati">Anil Bhati</a> </li>
                              <li><a href="/ramlal">Ramlal</a> </li>
                              <li><a href="/vikramChaudhary">Vikram Chaudhary</a> </li>
                           </ol> -->
                         
                        </div>
                     </div>
                     
                  </div>
               </div>
               <div class="col-md-4">
               <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/2service.png" alt="#"/></figure>
                 
                         
                          
                        <div class="veget">
                           <h3>HARVESTOR<br>RENTAL</h3>
                           <!-- <ol>
                              <li><a href="/vinodkumar">Vinod Kumar</a> </li>
                              <li> <a href="/rameshsingh">Ramesh Singh</a></li>
                              <li> <a href="/ramlal">Ramlal</a> </li>
                           </ol> -->
                           
                        </div>
                     </div>
                    
                  </div>
               </div>
               <div class="col-md-4">
               <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/3service.png" alt="#"/></figure>
                        <div class="veget">
                           <h3>CULTIVATOR<br>RENTAL</h3>
                           <!-- <ol>
                              <li><a href="/vinodkumar">Vinod Kumar</a> </li>
                              <li> <a href="/rameshsingh">Ramesh Singh</a></li>
                              <li> <a href="/ramlal">Ramlal</a> </li>
                           </ol> -->
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>

            <div class="row">
              
               <div class="col-md-4">
               <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/5service.png" alt="#"/></figure>
   
                        <div class="veget">
                           <h3>ROTAVATOR<br>RENTAL</h3>
                          <!-- <ol>
                           <li><a href="/vinodkumar">Vinod Kumar</a> </li>
                           <li><a href="/vikramchaudhary">Vikram Chaudhary</a> </li>
                          </ol> -->
                        </div>
                     </div>
             
                  </div>
               </div>
               <div class="col-md-4">
               <div class="services_box_main">
                     <div  class="services_box text_align_left">
                          <figure><img src="images/6service.png" alt="#" height="300px"/></figure>
                        <div class="veget">
                           <h3>TILLER<br>RENTAL</h3>
                         <ol>
                           <!-- <li><a href="/anilbhati">Anil Bhati</a> </li> -->
                         </ol>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end services -->
      <!--  footer -->
      <%- include ('partials/footer') %>
