<%- include ('partials/header') %>

         <!-- end of header -->
         <div class="md-8">
            <div class="container-fluid fa-align-justify">
                <br>
                <br><br>
                <h1>Vikram Chaudhary</h1>
                <ol>
                    <li>Name :<b>Vikram Chaudhary</b> </li>
                    <li>Contact No: <b>9971562088</b> </li>
                    <li> Village :<b>Pali</b> </li>
                    <li>Equipment :<b>Tractor,Rotavator,Plough</b> </li>
                    <li>Charge :
                        <li> <b>Roatavator - <i>Rs.300/Bigha</i></b> </li>
                        
                    </li>
                    <li>Rating: <b> <i>4.7/5</i></b></li>
                </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 sm-12">
                            <img src="/images/vikramchaudhary1.jpg" alt="" srcset="">
                        </div>
                        <div class="col-md-6 sm-12">
                            <img src="/images/vikramchaudhary2.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                
            
                
             </div>
         </div>

         <br>
         <br><br>
 

         <!-- start of footer -->
         <%- include ('partials/footer') %>