<%- include ('partials/header') %>

         <!-- end of header -->
         <div class="md-8">
            <div class="container-fluid fa-align-justify">
                <br>
                <br><br>
                <h1>Vinod Kumar</h1>
                <ol>
                    <li>Name :<b>Vinod Kumar</b> </li>
                    <li>Contact No: <b>9919552740</b> </li>
                    <li> Village :<b>Chhithera</b> </li>
                    <li>Equipment :<b>Tractor,Rotavator,Cultivator</b> </li>
                    <li>Charge :
                        <li> <b>Roatavator - <i>Rs.300/Bigha</i></b> </li>
                        <li><b>Cultivator- <i>Rs.310/Bigha</i> </b> </li>
                    </li>
                    <li>Rating: <b> <i>4.3/5</i></b></li>
                </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 sm-12">
                            <img src="/images/Vinodkumar1.jpg" alt="" srcset="">
                        </div>
                        <div class="col-md-6 sm-12">
                            <img src="/images/vinodkumar2.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
                
            
                
             </div>
         </div>

         <br>
         <br><br>
 

         <!-- start of footer -->
         <%- include ('partials/footer') %>