<!DOCTYPE html>
<html>
  <head>
    <title>Booking Confirmation Page</title>
    <link rel="stylesheet" href="/css/bookingconfirm.css">
  </head>
  <body>
    <div class="container">
      <h1>Booking Confirmed</h1>
      <p>Your request has been submitted successfully.</p>
      <p>We will get back to you shortly with the details of your booking.</p>
      <a href="/" class="text-decoration-none text-primary text-reset">Click here to return to Machine Page</a>
    </div>
  </body>
</html>
