<%- include('header.ejs') %>

<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">Oops! Something went wrong...</h1>
            <p class="card-text text-center">Sorry, it looks like your action has failed.</p>
            <div class="d-grid mt-4">
              <a href="/login" class="btn btn-primary btn-lg">Click Here for login again!!!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('footer.ejs') %>