<br><br>
<div class="navigationContainer footerMainContainer">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="nav navbar-nav navbar-right">
			<li class="footerListing"><a class="footerText" href="https://www.instagram.com/easyfarmup/?igshid=YmMyMTA2M2Y%3D"><img class="instgramImage"
						src="/img/instagramimage.png">
					Easyfarm</a></li>
			<li><a class="footerText" href="https://www.linkedin.com/company/easyfarm-up/"><img class="instgramImage" src="/img/facebook.png" >
					Easyfarm</a></li>
			</li>
			<li><a class="footerText" href="#"><img class="instgramImage" src="/img/call.png">
				+918791009298</a></li>
			</li>
			<li><a class="footerText" href="#"> <img class="instgramImage">
				<b> easyfarmup@gmail.com</b>
			</a> </li>
			<li>
				<p class="footerText">copyright@Easyfarm</p>
			</li>
		</ul>
	</nav>
</div>