<%- include('header.ejs') %>
</style>
<link rel="stylesheet" href="css/home.css">

<body>
    <div class="mainContainer">
        <div class="formOutContainer">
            <div class="formInContainer">
                <label>
                    <h3 class="headingText">About Easyfarm</h3>
                </label></br>
                <label>The website is a one stop solution for the farmers who are in dire need of an equipment and do not have information about various beneficial policies. 
                    A farmer can take multiple agricultural equipment ranging from tractor to trolley on rent. The charges will be fair and they will have multiple options to compare the prices & services. This will prevent farmers from getting exploited & prove beneficial in the longer run.</label></br>
                
                
            </div>
        </div>
    </div>
</body>
<%- include('footer.ejs') %>